In [30]:
import pandas as pd
import numpy as np

In [2]:
nums = [800678, 800456]
names = ['Richie','Mark']
series_1 = pd.Series(nums, index = names, copy = 'true')
series_1

Richie    800678
Mark      800456
dtype: int64

In [3]:
series_2 = pd.Series(names, index = nums, copy= 'True')
series_2

800678    Richie
800456      Mark
dtype: object

In [4]:
#Exercise 2 
a = pd.Series([1,2,3,4], index = [0,1,2,3], copy = 'true')
b = pd.Series([1,2,3,4], index = [0,1,3,4], copy = 'true')
print(a)
b

0    1
1    2
2    3
3    4
dtype: int64

0    1
1    2
3    3
4    4
dtype: int64

In [5]:
c = a + b
c

0    2.0
1    4.0
2    NaN
3    7.0
4    NaN
dtype: float64

In [6]:
c.fillna(0, inplace = True)
c

0    2.0
1    4.0
2    0.0
3    7.0
4    0.0
dtype: float64

In [7]:
#Exercise 3
pincodes = [800678, 800456]
numbers = [2567890, 2567657]
labels = ['R', 'M']
pd.DataFrame(np.column_stack([numbers, pincodes]), index = labels, columns = ['Number','Pincode'], copy = 'true')

    Number  Pincode
R  2567890   800678
M  2567657   800456

In [8]:
cd Data

H:\Notebooks\Data

In [9]:
#Exercise 4
df = pd.read_csv('poke.csv')
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [10]:
df.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          799 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.6+ KB

In [12]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [13]:
df.columns
df.shape

(800, 12)

In [14]:
df.isnull().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [15]:
unique = df.nunique()

In [16]:
head = df.head(10)
print(head)

    #              Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0   1         Bulbasaur  Grass  Poison  45      49       49       65       65
1   2           Ivysaur  Grass  Poison  60      62       63       80       80
2   3          Venusaur  Grass  Poison  80      82       83      100      100
3   4     Mega Venusaur  Grass  Poison  80     100      123      122      120
4   5        Charmander   Fire     NaN  39      52       43       60       50
5   6        Charmeleon   Fire     NaN  58      64       58       80       65
6   7         Charizard   Fire  Flying  78      84       78      109       85
7   8  Mega Charizard X   Fire  Dragon  78     130      111      130       85
8   9  Mega Charizard Y   Fire  Flying  78     104       78      159      115
9  10          Squirtle  Water     NaN  44      48       65       50       64

   Speed  Generation  Legendary
0     45           1      False
1     60           1      False
2     80           1      False
3     80           1      False
4     65           1      False
5     80           1      False
6    100           1      False
7    100           1      False
8    100           1      False
9     43           1      False

In [10]:
describe = df.describe()
print(describe)
shape = df.shape
print(shape)
null = df.isnull().sum()
print(null)

              #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.0000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   400.5000   69.258750   79.001250   73.842500   72.820000   71.902500
std    231.0844   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.0000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    200.7500   50.000000   55.000000   50.000000   49.750000   50.000000
50%    400.5000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    600.2500   80.000000  100.000000   90.000000   95.000000   90.000000
max    800.0000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000
(800, 12)
#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [11]:
df['Total']  =  df['HP']+ df['Attack']+ df['Defense']+ df['Sp. Atk']+ df['Sp. Def']+ df['Speed']
print(df['Total'])

0      318
1      405
2      525
3      625
4      309
5      405
6      534
7      634
8      634
9      314
10     405
11     530
12     630
13     195
14     205
15     395
16     195
17     205
18     395
19     495
20     251
21     349
22     479
23     579
24     253
25     413
26     262
27     442
28     288
29     438
      ...
770    525
771    500
772    431
773    500
774    300
775    452
776    600
777    470
778    309
779    474
780    335
781    335
782    335
783    335
784    494
785    494
786    494
787    494
788    304
789    514
790    245
791    535
792    680
793    680
794    600
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [19]:
df.append(pd.DataFrame([[800,0,0,0,0,0,0,0,0,0,0,0,0]],columns = df.columns))

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,0,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,0,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,0,525
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,0,625
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,0,309
5,6,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,0,405
6,7,Charizard,Fire,Flying,78,84,78,109,85,100,1,0,534
7,8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,0,634
8,9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,0,634
9,10,Squirtle,Water,NaN,44,48,65,50,64,43,1,0,314
10,11,Wartortle,Water,NaN,59,63,80,65,80,58,1,0,405
11,12,Blastoise,Water,NaN,79,83,100,85,105,78,1,0,530
12,13,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,0,630
13,14,Caterpie,Bug,NaN,45,30,35,20,20,45,1,0,195
14,15,Metapod,Bug,NaN,50,20,55,25,25,30,1,0,205
15,16,Butterfree,Bug,Flying,60,45,50,90,80,70,1,0,395
16,17,Weedle,Bug,Poison,40,35,30,20,20,50,1,0,195
17,18,Kakuna,Bug,Poison,45,25,50,25,25,35,1,0,205
18,19,Beedrill,Bug,Poison,65,90,40,45,80,75,1,0,395
19,20,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,0,495
20,21,Pidgey,Normal,Flying,40,45,40,35,35,56,1,0,251
21,22,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,0,349
22,23,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,0,479
23,24,Mega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,0,579
24,25,Rattata,Normal,NaN,30,56,35,25,35,72,1,0,253
25,26,Raticate,Normal,NaN,55,81,60,50,70,97,1,0,413
26,27,Spearow,Normal,Flying,40,60,30,31,31,70,1,0,262
27,28,Fearow,Normal,Flying,65,90,65,61,61,100,1,0,442
28,29,Ekans,Poison,NaN,35,60,44,40,54,55,1,0,288
29,30,Arbok,Poison,NaN,60,85,69,65,79,80,1,0,438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,772,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,0,500
772,773,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,0,431
773,774,Carbink,Rock,Fairy,50,50,150,50,150,50,6,0,500
774,775,Goomy,Dragon,NaN,45,50,35,55,75,40,6,0,300
775,776,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,0,452
776,777,Goodra,Dragon,NaN,90,100,70,110,150,80,6,0,600
777,778,Klefki,Steel,Fairy,57,80,91,80,87,75,6,0,470
778,779,Phantump,Ghost,Grass,43,70,48,50,60,38,6,0,309
779,780,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,0,474
780,781,Pumpkaboo Average Size,Ghost,Grass,49,66,70,44,55,51,6,0,335
781,782,Pumpkaboo Small Size,Ghost,Grass,44,66,70,44,55,56,6,0,335
782,783,Pumpkaboo Large Size,Ghost,Grass,54,66,70,44,55,46,6,0,335
783,784,Pumpkaboo Super Size,Ghost,Grass,59,66,70,44,55,41,6,0,335
784,785,Gourgeist Average Size,Ghost,Grass,65,90,122,58,75,84,6,0,494
785,786,Gourgeist Small Size,Ghost,Grass,55,85,122,58,75,99,6,0,494
786,787,Gourgeist Large Size,Ghost,Grass,75,95,122,58,75,69,6,0,494
787,788,Gourgeist Super Size,Ghost,Grass,85,100,122,58,75,54,6,0,494
788,789,Bergmite,Ice,NaN,55,69,85,32,35,28,6,0,304
789,790,Avalugg,Ice,NaN,95,117,184,44,46,28,6,0,514
790,791,Noibat,Flying,Dragon,40,30,35,45,40,55,6,0,245
791,792,Noivern,Flying,Dragon,85,70,80,97,80,123,6,0,535
792,793,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,1,680
793,794,Yveltal,Dark,Flying,126,131,95,131,98,99,6,1,680
794,795,Zygarde Half Forme,Dragon,Ground,108,100,121,81,95,95,6,1,600
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,1,600
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,1,700
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,1,600
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,1,680
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,1,600
0,800,0,0,0,0,0,0,0,0,0,0,0,0

In [20]:
df.drop(index = 0, inplace =True)

In [21]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype='object')

In [12]:
print(df.columns)
df.rename(columns = {'HP':'Health Points', 
                     'Sp. Atk': 'Attack speed points', 'Sp. Def':'Defense speed points'}, inplace = True)
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype='object')

Index(['#', 'Name', 'Type 1', 'Type 2', 'Health Points', 'Attack', 'Defense',
       'Attack speed points', 'Defense speed points', 'Speed', 'Generation',
       'Legendary', 'Total'],
      dtype='object')

In [13]:
df.drop(['#'], inplace = True, axis=1)

In [14]:
df.set_index(['Name'],inplace=True)

In [52]:
df.head(5)

,Type 1,Type 2,Health Points,Attack,Defense,Attack Speed Points,Defense speed points,Speed,Generation,Legendary
Name,,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [42]:
type_two_num = df['Type 2'].nunique()
type_two = df['Type 2'].unique()
counts_type_two = df['Type 2'].value_counts()
no_type_two = df['Type 2'].isnull().sum()

In [43]:
max_attack = df['Attack'].idxmax()

In [45]:
print(max_attack)

Mega Mewtwo X

In [54]:
#health, special attack, special defense and speed
healthiest_pokemon = df['Health Points'].idxmax()
print(healthiest_pokemon)
special_attack_pokemon = df['Attack Speed Points'].idxmax()
print(special_attack_pokemon)
special_defense_pokemon = df['Defense speed points'].idxmax()
print(special_defense_pokemon)
fastest_pokemon = df['Speed'].idxmax()
print(fastest_pokemon)

Blissey
Mega Mewtwo Y
Shuckle
Deoxys Speed Forme

In [36]:
a = df[df['Legendary'] == True]
highest_legendary = a['Type 1'].value_counts().idxmax()
highest_legendary

'Psychic'

In [28]:
b = df[df['Type 2'].isnull() & df['Legendary'] == True]
b

,Type 1,Type 2,Health Points,Attack,Defense,Attack speed points,Defense speed points,Speed,Generation,Legendary,Total
Name,,,,,,,,,,,
Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True,680
Mega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
Raikou,Electric,NaN,90,85,75,115,100,115,2,True,580
Entei,Fire,NaN,115,115,85,90,75,100,2,True,580
Suicune,Water,NaN,100,75,115,90,115,85,2,True,580
Regirock,Rock,NaN,80,100,200,50,100,50,3,True,580
Regice,Ice,NaN,80,50,100,100,200,50,3,True,580
Registeel,Steel,NaN,80,75,150,75,150,50,3,True,580
Kyogre,Water,NaN,100,100,90,150,140,90,3,True,670
Primal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
Groudon,Ground,NaN,100,150,140,100,90,90,3,True,670
Deoxys Normal Forme,Psychic,NaN,50,150,50,150,50,150,3,True,600
DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True,600
Deoxys Defense Forme,Psychic,NaN,50,70,160,70,160,90,3,True,600
Deoxys Speed Forme,Psychic,NaN,50,95,90,95,90,180,3,True,600
Uxie,Psychic,NaN,75,75,130,75,130,95,4,True,580
Mesprit,Psychic,NaN,80,105,105,105,105,80,4,True,580
Azelf,Psychic,NaN,75,125,70,125,70,115,4,True,580
Regigigas,Normal,NaN,110,160,110,80,110,100,4,True,670
Darkrai,Dark,NaN,70,90,90,135,90,125,4,True,600
Shaymin Land Forme,Grass,NaN,100,100,100,100,100,100,4,True,600
Arceus,Normal,NaN,120,120,120,120,120,120,4,True,720
Tornadus Incarnate Forme,Flying,NaN,79,115,70,125,80,111,5,True,580
Tornadus Therian Forme,Flying,NaN,79,100,80,110,90,121,5,True,580
Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,680

In [29]:
df.shape

(800, 11)

In [35]:
highest_legendary = df[df['Legendary'] == True]['Type 1'].value_counts().idxmax()
highest_legendary

'Psychic'