In [12]:
import pandas as pd
import numpy as np

In [6]:
nums = [800678, 800456]
names = ['Richie','Mark']
series_1 = pd.Series(nums, index = names, copy = 'true')
series_1

Richie    800678
Mark      800456
dtype: int64

In [7]:
series_2 = pd.Series(names, index = nums, copy= 'True')
series_2

800678    Richie
800456      Mark
dtype: object

In [8]:
#Exercise 2 
a = pd.Series([1,2,3,4], index = [0,1,2,3], copy = 'true')
b = pd.Series([1,2,3,4], index = [0,1,3,4], copy = 'true')
print(a)
b

0    1
1    2
2    3
3    4
dtype: int64

0    1
1    2
3    3
4    4
dtype: int64

In [9]:
c = a + b
c

0    2.0
1    4.0
2    NaN
3    7.0
4    NaN
dtype: float64

In [10]:
c.fillna(0, inplace = True)
c

0    2.0
1    4.0
2    0.0
3    7.0
4    0.0
dtype: float64

In [16]:
#Exercise 3
pincodes = [800678, 800456]
numbers = [2567890, 2567657]
labels = ['R', 'M']
pd.DataFrame(np.column_stack([numbers, pincodes]), index = labels, columns = ['Number','Pincode'], copy = 'true')

    Number  Pincode
R  2567890   800678
M  2567657   800456

In [18]:
cd Data

H:\Notebooks\Data

In [ ]:
df=